@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
* {
  padding: 0;
  margin: 0;
  border: none;
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0D0D0D;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.wrapper .newShares header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100vw;
  height: 6em;
  margin: 0 auto;
  padding: 1em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #00283e), to(rgba(13, 13, 13, 0)));
  background: linear-gradient(180deg, #00283e 50%, rgba(13, 13, 13, 0) 100%);
  padding-top: 3em;
}

.wrapper .newShares header .fa-chevron-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2em;
          flex: 0 0 2em;
  font-size: 2em;
  color: #0597F2;
}

.wrapper .newShares header .logo img {
  width: 4em;
  margin: 0 auto;
}

.wrapper .newShares header .profimg img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px #0CF25D;
          box-shadow: 0px 0px 10px #0CF25D;
}

.wrapper .newShares header .welcome {
  width: 60%;
}

.wrapper .newShares header .welcome p {
  color: #E5E5E5;
  font-size: 1.25em;
  font-weight: 100;
}

.wrapper .newShares header .profimg img {
  width: 6em;
  height: 6em;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .newShares main {
  position: relative;
  margin-top: 2em;
}

.wrapper .newShares main h2 {
  position: absolute;
  top: .05em;
  color: #E5E5E5;
  font-size: 2.5em;
  text-transform: uppercase;
  width: 100vw;
  text-align: center;
}

.wrapper .newShares main .logo {
  text-align: center;
}

.wrapper .newShares main .logo img {
  width: 40vw;
}

.wrapper .newShares footer {
  min-height: 3em;
  border-radius: .5em .5em 0em 0em;
  background-color: #00283e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: .5em 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
}

.wrapper .newShares footer i {
  font-size: 2.5em;
  color: #0597F2;
}

.wrapper .addUpdateShare header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100vw;
  height: 6em;
  margin: 0 auto;
  padding: 1em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #00283e), to(rgba(13, 13, 13, 0)));
  background: linear-gradient(180deg, #00283e 50%, rgba(13, 13, 13, 0) 100%);
}

.wrapper .addUpdateShare header .fa-chevron-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2em;
          flex: 0 0 2em;
  font-size: 2em;
  color: #0597F2;
}

.wrapper .addUpdateShare header .logo img {
  width: 4em;
  margin: 0 auto;
}

.wrapper .addUpdateShare header .profimg img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px #0CF25D;
          box-shadow: 0px 0px 10px #0CF25D;
}

.wrapper .addUpdateShare header .welcome {
  width: 60%;
}

.wrapper .addUpdateShare header .welcome p {
  color: #E5E5E5;
  font-size: 1.25em;
  font-weight: 100;
}

.wrapper .addUpdateShare main {
  position: relative;
  margin-top: 2em;
}

.wrapper .addUpdateShare main h2 {
  position: absolute;
  top: .05em;
  color: #E5E5E5;
  font-size: 2.5em;
  text-transform: uppercase;
  width: 100vw;
  text-align: center;
}

.wrapper .addUpdateShare main .logo {
  text-align: center;
}

.wrapper .addUpdateShare main .logo img {
  width: 40vw;
}

.wrapper .addUpdateShare main form {
  margin: 4em auto;
  width: 80vw;
}

.wrapper .addUpdateShare main form .form-group {
  margin: 2em 0;
}

.wrapper .addUpdateShare main form .form-group label {
  color: #E5E5E5;
  font-weight: 100;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .15em;
}

.wrapper .addUpdateShare main form .form-group input {
  background-color: rgba(5, 151, 242, 0.25);
  border: none;
}

.wrapper .addUpdateShare main form .form-group textarea {
  width: 80vw;
  background-color: rgba(5, 151, 242, 0.25);
  font-size: .75em;
  color: rgba(229, 229, 229, 0.5);
  font-weight: 100;
  padding: 1em;
}

.wrapper .addUpdateShare main form .form-group ::-webkit-input-placeholder {
  font-size: .75em;
  color: rgba(229, 229, 229, 0.5);
  font-weight: 100;
}

.wrapper .addUpdateShare main form .form-group :-ms-input-placeholder {
  font-size: .75em;
  color: rgba(229, 229, 229, 0.5);
  font-weight: 100;
}

.wrapper .addUpdateShare main form .form-group ::-ms-input-placeholder {
  font-size: .75em;
  color: rgba(229, 229, 229, 0.5);
  font-weight: 100;
}

.wrapper .addUpdateShare main form .form-group ::placeholder {
  font-size: .75em;
  color: rgba(229, 229, 229, 0.5);
  font-weight: 100;
}

.wrapper .addUpdateShare main form button {
  position: relative;
  left: 50%;
  margin-top: 1em;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #E5E5E5;
  padding: 0em 2em;
  border: none;
  color: #0597F2;
  border-radius: 15px;
}

.wrapper .addUpdateShare footer {
  min-height: 3em;
  border-radius: .5em .5em 0em 0em;
  background-color: #00283e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: .5em 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
}

.wrapper .addUpdateShare footer i {
  font-size: 2.5em;
  color: #0597F2;
}

.wrapper .usersPosts header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100vw;
  height: 6em;
  margin: 0 auto;
  padding: 1em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #00283e), to(rgba(13, 13, 13, 0)));
  background: linear-gradient(180deg, #00283e 50%, rgba(13, 13, 13, 0) 100%);
}

.wrapper .usersPosts header .fa-chevron-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2em;
          flex: 0 0 2em;
  font-size: 2em;
  color: #0597F2;
}

.wrapper .usersPosts header .logo img {
  width: 4em;
  margin: 0 auto;
}

.wrapper .usersPosts header .profimg img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px #0CF25D;
          box-shadow: 0px 0px 10px #0CF25D;
}

.wrapper .usersPosts header .welcome {
  width: 60%;
}

.wrapper .usersPosts header .welcome p {
  color: #E5E5E5;
  font-size: 1.25em;
  font-weight: 100;
}

.wrapper .usersPosts main {
  width: 80vw;
  margin: 2em auto;
  color: #E5E5E5;
}

.wrapper .usersPosts main .profimg {
  text-align: center;
}

.wrapper .usersPosts main .profimg img {
  width: 8em;
  height: 8em;
  border-radius: 50%;
}

.wrapper .usersPosts main h1 {
  text-align: center;
}

.wrapper .usersPosts main p {
  text-align: center;
  font-size: .85em;
  font-weight: 100;
}

.wrapper .usersPosts footer {
  min-height: 3em;
  border-radius: .5em .5em 0em 0em;
  background-color: #00283e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: .5em 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
}

.wrapper .usersPosts footer i {
  font-size: 2.5em;
  color: #0597F2;
}

.wrapper .settings header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100vw;
  height: 6em;
  margin: 0 auto;
  padding: 1em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #00283e), to(rgba(13, 13, 13, 0)));
  background: linear-gradient(180deg, #00283e 50%, rgba(13, 13, 13, 0) 100%);
}

.wrapper .settings header .fa-chevron-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2em;
          flex: 0 0 2em;
  font-size: 2em;
  color: #0597F2;
}

.wrapper .settings header .logo img {
  width: 4em;
  margin: 0 auto;
}

.wrapper .settings header .profimg img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px #0CF25D;
          box-shadow: 0px 0px 10px #0CF25D;
}

.wrapper .settings header .welcome {
  width: 60%;
}

.wrapper .settings header .welcome p {
  color: #E5E5E5;
  font-size: 1.25em;
  font-weight: 100;
}

.wrapper .settings main .profimg {
  text-align: center;
}

.wrapper .settings main .profimg img {
  width: 8em;
  height: 8em;
  border-radius: 50%;
}

.wrapper .settings main h1 {
  text-align: center;
  color: #E5E5E5;
}

.wrapper .settings main form {
  margin: 4em auto;
  width: 80vw;
  margin: 1em auto;
}

.wrapper .settings main form .form-group {
  margin: 2em 0;
}

.wrapper .settings main form .form-group label {
  color: #E5E5E5;
  font-weight: 100;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .15em;
}

.wrapper .settings main form .form-group input {
  background-color: rgba(5, 151, 242, 0.25);
  border: none;
}

.wrapper .settings main form .form-group textarea {
  width: 80vw;
  background-color: rgba(5, 151, 242, 0.25);
  font-size: .75em;
  color: rgba(229, 229, 229, 0.5);
  font-weight: 100;
  padding: 1em;
}

.wrapper .settings main form .form-group ::-webkit-input-placeholder {
  font-size: .75em;
  color: rgba(229, 229, 229, 0.5);
  font-weight: 100;
}

.wrapper .settings main form .form-group :-ms-input-placeholder {
  font-size: .75em;
  color: rgba(229, 229, 229, 0.5);
  font-weight: 100;
}

.wrapper .settings main form .form-group ::-ms-input-placeholder {
  font-size: .75em;
  color: rgba(229, 229, 229, 0.5);
  font-weight: 100;
}

.wrapper .settings main form .form-group ::placeholder {
  font-size: .75em;
  color: rgba(229, 229, 229, 0.5);
  font-weight: 100;
}

.wrapper .settings main form button {
  position: relative;
  left: 50%;
  margin-top: 1em;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #E5E5E5;
  padding: 0em 2em;
  border: none;
  color: #0597F2;
  border-radius: 15px;
}

.wrapper .settings main form .form-group {
  margin: 1em 0;
  position: relative;
}

.wrapper .settings main form i {
  position: absolute;
  bottom: .7em;
  right: .25em;
  color: #0597F2;
}

.wrapper .settings main form .buttons {
  margin: 1.5em auto;
  width: 50vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 4em;
}

.wrapper .settings footer {
  min-height: 3em;
  border-radius: .5em .5em 0em 0em;
  background-color: #00283e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: .5em 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
}

.wrapper .settings footer i {
  font-size: 2.5em;
  color: #0597F2;
}
/*# sourceMappingURL=style.css.map */